<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
	      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta charset="UTF-8">
	<title>Admin Page</title>
</head>
<body>

<!--Навигационная шапка сверху-->
<header>
	<div class="container-fluid" style="padding: 0">
		<div class="row-cols-auto">
			<div class="col-12">
				<nav class="navbar navbar-expand navbar-dark bg-dark sticky-top">
					<div class="collapse navbar-collapse" id="admin">
						<div style="padding-left: 15px">
							
							<!--Юзер с ролью-->
							<div class="navbar-nav mr-auto mb-2 mb-lg-0">
								<span class="navbar-brand" th:utext="${admin.username}"></span>
								<span class="navbar-brand">with roles:</span>
								<span class="navbar-brand" th:utext="${admin.roles}"></span>
							</div>
						</div>
					</div>
					
					<!--Кнопка logout справа-->
					<ul class="navbar-nav float-lg-right" style="padding-right: 15px">
						<li class="nav-item">
							<form th:action="@{/logout}" th:method="POST">
								<button type="submit" class="btn btn-dark text-right">Logout</button>
							</form>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>

<!--Панель сбоку и таблица-->
<div class="container-fluid">
	<div class="row">
		
		<!--Панель сбоку-->
		<div class="col-2" style="padding: 15px 0 0;">
			<ul class="nav nav-pills flex-column" id="v-pills-tab" role="tablist">
				
				<!--Вкладка админа-->
				<li class="nav-item">
					<a class="nav-link active" id="v-pills-admin-tab" data-bs-toggle="tab" href="#adminPage"
					   role="tab">Admin</a>
				</li>
				
				<!--Вкладка пользователя-->
				<li class="nav-item">
					<a class="nav-link" id="v-pills-user-tab" data-bs-toggle="tab" href="#userPage"
					   role="tab">User</a>
				</li>
			</ul>
		</div>
		
		<!--Основной контент-->
		<div class="col-10 bg-light">
			<div class="tab-content" id="v-pills-tabContent" style="padding: 15px 0 0;height: 100vh">
				
				<!--Страница админа-->
				<div class="tab-pane fade show active" id="adminPage" role="tabpanel">
					
					<div class="container-fluid"><h2>Admin panel</h2></div>
					<div class="container-fluid">
						<ul class="nav nav-tabs" id="nav-tab" role="tablist">
							
							<!--Вкладка с таблицей юзеров-->
							<li class="nav-item">
								<a class="nav-link active" id="nav-admin-tab" data-bs-toggle="tab" role="tab"
								   href="#nav-admin">ALL USERS</a>
							</li>
							
							<!--Вкладка нового юзера-->
							<li class="nav-item">
								<a class="nav-link" id="nav-user-tab" data-bs-toggle="tab" href="#nav-newUser"
								   role="tab">NEW USER</a>
							</li>
						</ul>
					</div>
					
					<div class="tab-content" id="nav-tabContent">
						
						<!--Таблица юзеров-->
						<div class="tab-pane fade show active" id="nav-admin"
						     role="tabpanel">
							<div class="card">
								<div class="card-header fw-bold">Users table</div>
								<div class="card-body text-center">
									<table class="table table-striped">
										<thead>
										<tr>
											<th scope="col">ID</th>
											<th scope="col">First Name</th>
											<th scope="col">Last Name</th>
											<th scope="col">Age</th>
											<th scope="col">Email</th>
											<th scope="col">Role</th>
											<th scope="col">Edit</th>
											<th scope="col">Delete</th>
										</tr>
										</thead>
										<tbody>
										<tr th:each="user : ${userList}">
											<td th:utext="${user.id}">
											<td th:utext="${user.name}">
											<td th:utext="${user.surname}">
											<td th:utext="${user.age}">
											<td th:utext="${user.username}">
											<td th:utext="${user.roles}">
											<td>
												<a type="button" class="btn btn-info text-light"
												   data-bs-toggle="modal"
												   data-bs-target="#editModal"
												   th:data-bs-target="${'#editModal' + user.id}">Edit
												</a>
											<td>
												<a type="button" class="btn btn-danger"
												   data-bs-toggle="modal"
												   data-target="#deleteModal"
												   th:data-bs-target="${'#deleteModal' + user.id}">Delete
												</a>
											</td>
											
											<!-- Modal Edit -->
											<div class="modal fade" th:id="${'editModal' + user.id}"
											     aria-labelledby="exampleModalLabel"
											     aria-hidden="true">
												<div class="modal-dialog">
													<div class="modal-content">
														<form th:method="PATCH"
														      th:action="@{/admin/users/edit/{id}(id=${user.id})}"
														      th:object="${user}">
															<div class="modal-header">
																<h5 class="modal-title" id="exampleModalLabel">Edit
																	user</h5>
																<button type="button" class="close"
																        data-bs-dismiss="modal" aria-label="Close">
																	<span aria-hidden="true">&times;</span>
																</button>
															</div>
															<div class="modal-body text-center">
																<div class="container-fluid col-6">
																	<label for="idEdit"><strong>ID</strong></label>
																	<input th:name="id" th:type="text"
																	       class="form-control"
																	       th:value="*{id}"
																	       id="idEdit" disabled name="idEdit">
																	<br>
																	<label for="nameEdit"><strong>
																		Name</strong></label>
																	<input th:name="name" th:type="text"
																	       class="form-control"
																	       th:value="*{name}"
																	       id="nameEdit">
																	<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
																	<br>
																	<label for="surnameEdit"><strong>Surname</strong></label>
																	<input th:name="Surname" th:type="text"
																	       class="form-control"
																	       th:value="*{surname}"
																	       id="surnameEdit">
																	<div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname error</div>
																	<br>
																	<label for="ageEdit"><strong>Age</strong></label>
																	<input th:name="age" th:type="number" min="0" max="127"
																	       class="form-control"
																	       th:value="*{age}"
																	       id="ageEdit">
																	<div th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
																	<br>
																	<label for="usernameEdit"><strong>Email</strong></label>
																	<input th:name="username" th:type="text"
																	       class="form-control"
																	       th:value="*{username}"
																	       id="usernameEdit" disabled name="usernameEdit">
																	<br>
																	<label for="passwordEdit"><strong>Password</strong></label>
																	<input th:name="password" th:type="password"
																	       class="form-control"
																	       th:field="*{password}"
																	       id="passwordEdit">
																	<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
																	<br>
																	<label for="newUserRoles" class="container-fluid">
																		<strong>Role</strong></label>
																	<label for="newUserRolesEdit"></label>
																	<select id="newUserRolesEdit"
																	        class="form-control" multiple size="2"
																	        name="roles">
																		<option th:each="role : ${roleList}"
																		        th:text="${role}"
																		        th:value="${role.id}"
																		        th:field="*{roles}">
																		</option>
																	</select>
																	<br>
																</div>
															</div>
															<div class="modal-footer">
																<button type="button" class="btn btn-secondary"
																        data-bs-dismiss="modal">Close
																</button>
																<button type="submit"
																        class="btn btn-primary text-light">Edit
																</button>
															</div>
														</form>
													</div>
												</div>
											</div>
											
											<!-- Modal Delete -->
											<div class="modal fade" th:id="${'deleteModal' + user.id}" tabindex="-1"
											     role="dialog" aria-labelledby="exampleModalLabel"
											     aria-hidden="true">
												<div class="modal-dialog" role="document">
													<div class="modal-content">
														<form th:method="DElETE"
														      th:action="@{/admin/users/delete/{id}(id=${user.getId()})}"
														      th:object="${user}">
															<div class="modal-header">
																<h5 class="modal-title" id="examplModalLabel">Delete
																	user</h5>
																<button type="button" class="close" data-bs-dismiss="modal"
																        aria-label="Close">
																	<span aria-hidden="true">&times;</span>
																</button>
															</div>
															<div class="modal-body text-center">
																<div class="container-fluid col-6">
																	
																	<label for="idDel"><b>ID</b></label>
																	<input th:name="id" th:type="text"
																	       class="form-control" id="idDel"
																	       th:value="*{id}" disabled/>
																	<br>
																	
																	<label for="nameDel"><b>Name</b></label>
																	<input th:name="name" th:type="text"
																	       class="form-control" id="nameDel"
																	       th:value="*{name}" disabled/>
																	<br>
																	
																	<label for="surnameDel"><b>Surname</b></label>
																	<input th:name="surname" th:type="text"
																	       class="form-control" id="surnameDel"
																	       th:value="*{surname}" disabled/>
																	<br>
																	
																	<label for="ageDel"><b>Age</b></label>
																	<input th:name="age" th:type="text"
																	       class="form-control" id="ageDel"
																	       th:value="*{age}" disabled/>
																	<br>
																	
																	<label for="usernameDel"><b>Email</b></label>
																	<input th:name="username" th:type="text"
																	       class="form-control" id="usernameDel"
																	       th:value="*{username}" disabled/>
																	<br>
																	
																	<label for="newUserRolesDelete"
																	       class="form-label">Role</label>
																	<select id="newUserRolesDelete" class="form-control"
																	        multiple size="2" name="roles">
																		<option th:each="role : ${roleList}"
																		        th:text="${role}"
																		        th:value="${role.id}"
																		        th:field="*{roles}" disabled>
																		</option>
																	</select>
																	<br>
																
																</div>
															</div>
															<div class="modal-footer">
																<button type="button" class="btn btn-secondary"
																        data-bs-dismiss="modal">Close
																</button>
																<button type="submit"
																        class="btn btn-danger">Delete
																</button>
															</div>
														</form>
													</div>
												</div>
											</div>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						
						<!--Страница нового юзера-->
						<div class="tab-pane fade show" id="nav-newUser" role="tabpanel">
							<div class="card">
								<div class="card-header fw-bold">Add new user</div>
								<div class="card-body text-center">
									<div class="form justify-content-center mx-auto col-5">
										<form th:method="POST" th:action="@{/admin/users/new}" th:object="${user}">
											
											<div class="container-fluid col-6">
												<label for="name"><strong>Name</strong></label>
												<input type="text" th:field="*{name}" class="form-control"
												       id="name" placeholder="Name">
												<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
											</div>
											
											<div class="container-fluid col-6">
												<label for="surname"><strong>Surname</strong></label>
												<input type="text" th:field="*{surname}" class="form-control"
												       id="surname" placeholder="Surname">
												<div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname error</div>
											</div>
											
											<div class="container-fluid col-6">
												<label for="age"><strong>Age</strong></label>
												<input type="number" min="0" max="127" th:field="*{age}" class="form-control"
												       id="age" placeholder="Age">
												<div th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
											</div>
											
											<div class="container-fluid col-6">
												<label for="username"><strong>Email</strong></label>
												<input type="text" th:field="*{username}" class="form-control"
												       id="username" placeholder="Email">
												<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</div>
												<div th:if="${#fields.hasGlobalErrors()}">Email is busy!</div>
											</div>
											
											<div class="container-fluid col-6">
												<label for="password"><strong>Password</strong></label>
												<input type="password" th:field="*{password}" class="form-control"
												       id="password" placeholder="Password">
												<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
											</div>
											
											<div class="col-6 mx-auto">
												<label class="container-fluid" for="newUserRoles"><strong>Role</strong>
													<select id="newUserRoles" class="form-control" multiple size="2"
													        name="roles">
														<option th:each="role : ${roleList}"
														        th:text="${role}"
														        th:value="${role.id}"
														        th:field="*{roles}">
														</option>
													</select>
												</label>
											</div>
											
											<p><input class="btn btn-success" type="submit" value="Add user"></p>
										
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!--Панель пользователя-->
				<div class="tab-pane fade" id="userPage" role="tabpanel">
					<h2>User information page</h2>
					<div class="card">
						<div class="card-header"><b>User info</b></div>
						<div class="card-body text-center">
							<table class="table table-striped">
								<thead>
								<tr>
									<th scope="col">ID</th>
									<th scope="col">Name</th>
									<th scope="col">Surname</th>
									<th scope="col">Age</th>
									<th scope="col">Email</th>
									<th scope="col">Role</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td th:utext="${admin.id}"></td>
									<td th:utext="${admin.name}"></td>
									<td th:utext="${admin.surname}"></td>
									<td th:utext="${admin.age}"></td>
									<td th:utext="${admin.username}"></td>
									<td th:utext="${admin.roles}"></td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>
</html>